@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://cpimchennaisouth.org/lib/materialize/Font/material-design-icons/Material-Design-Icons.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(http://cpimchennaisouth.org/lib/materialize/Font/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(http://cpimchennaisouth.org/lib/materialize/Font/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
       url(http://cpimchennaisouth.org/lib/materialize/Font/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.splash {
    color:#157A38;
    text-align: center;
    margin: 10% 0 0;
}

    .splash .message {
        font-size: 5em;
        line-height: 1.5em;
        -webkit-text-shadow: rgba(0,0,0,0.5) 0 0 15px;
        text-shadow: rgba(0,0,0,0.5) 0 0 15px;
        text-transform: uppercase;
    }

    .splash .fa-spinner {
        text-align: center;
        display: inline-block;
        font-size: 5em;
        margin-top: 50px;
    }

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 73px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

section {
    margin: 0;
}

.navbar-nav li.loader {
    margin: 12px 6px 0;
    visibility: hidden;
}

    .navbar-nav li.loader.active {
        visibility: visible;
    }

.pictureDetail {
    max-width: 425px;
}
.btnColor{
    background-color: #F3EA2D; color: #2f2b2b;
}