<main>
    <br />
    <div class="btn-group btn-breadcrumb">
        <a href="#welcome" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#lob" class="btn btn-default">Lines of Businesses</a>
        <a href="#agroeng" class="btn btn-default">Agro Plantation Division</a>
    </div>
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-lg-12">
                <p>Integrated farming and plantation division</p>
                <ol>
                    <li>Cultivation of agricultural, horticultural plants</li>
                    <li>Plantation crops: Cardomom, tea and coffee</li>
                </ol>
            </div>
        </div>
    </div>
</main>
