<main>
    <br />
    <div class="btn-group btn-breadcrumb">
        <a href="#welcome" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#lob" class="btn btn-default">Lines of Businesses</a>
        <a href="#agroeng" class="btn btn-default">Agro Trading Division</a>
    </div>
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-lg-12">
                <p>Agricultural commodities trade division (domestic & international)</p>
                <ol>
                    <li>Raw spices</li>
                    <li>Herbal & spice oils, oleoresin and powder</li>
                    <li>Cereals, pulses, major millets, minor millets</li>
                </ol>
            </div>
        </div>
    </div>
</main>
