<main>
    <div id="horizontalTab">
        <ul>
            <li><a href="#tab-1">About Us</a></li>
            <li><a href="#tab-2">Mission</a></li>
            <li><a href="#tab-3">Vision</a></li>
            <li><a href="#tab-4">Objective</a></li>
        </ul>
        <div id="tab-1" class="z-depth-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default my_panel z-depth-1">
                        <div class="panel-body">
                            <img src="../../images/ricet.png" alt="" class="iconImage center-block" />
                        </div>
                        <div class="panel-footer">
                            <h3>About Us</h3>
                            <p style="color:forestgreen; font-weight:600; text-align:left;">
                                Bhuvicare is an organization focused on natural way of controlling pests, nematodes and fungus occurring in agriculture, horticulture and plantation crops.
                                Since its inception in Feb 2002, Bhuvicare has been serving agricultural community in Tamilnadu as well as other states in India through various products & services, including its flagship.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default my_panel z-depth-1">
                        <div class="panel-body">
                            <img src="../../images/cardamont.png" alt="" class="iconImage center-block" />
                        </div>
                        <div class="panel-footer">
                            <h3>Our Mission</h3>
                            <p style="color:forestgreen; font-weight:600; text-align:left;">
                                Bhuvicare's overall mission is to service the larger society and mankind by providing natural way of controlling pests, nematodes and fungus occurring in the field of agriculture, horticulture and plantation crops.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-3">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default my_panel z-depth-1">
                        <div class="panel-body">
                            <img src="../../images/treet.png" alt="" class="iconImage center-block" />
                        </div>
                        <div class="panel-footer">
                            <h3>Our Vision</h3>
                            <p style="color:forestgreen; font-weight:600; text-align:left;">
                                In today's global warming conditions, due to chemical pesticide usage, food crops are toxicated and lead us to unhealthy mankind.
                                Bhuvicare vision is to provide non- toxic healthy, sustainable agricultural produce to mankind.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default my_panel z-depth-1">
                        <div class="panel-body">
                            <img src="../../images/eartht.png" alt="" class="iconImage center-block" />
                        </div>
                        <div class="panel-footer">
                            <!--<h3>Bhuvi Care</h3>-->
                            <p style="color:forestgreen; font-weight:600; text-align:left;">
                                Only by natural, organic products and healing agriculture can sustain and survive. Bhuvicare's objective is to empower, service and support agriculturists and farmers fertilizing their farm lands in organic natural way and in that process resulting in higher productivity and yield.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer data-bind="compose: { model: 'viewmodels/footer', activate: true }"></footer>