<main>
    <br />
    <div class="btn-group btn-breadcrumb">
        <a href="index.html" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="aboutus.html" class="btn btn-default">About Us</a>
    </div>
    <br /><br />
    <div id="horizontalTab">
        <ul>
            <li><a href="#tab-1">About Us</a></li>
            <li><a href="#tab-2">Mission</a></li>
            <li><a href="#tab-3">Vision</a></li>
            <li><a href="#tab-4">Our Team</a></li>
        </ul>
        <div id="tab-1" class="z-depth-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default my_panel z-depth-1">
                        <div class="panel-body">
                            <img data-bind="attr: {src: aboutUs().ImageUrl}" alt="" class="iconImage center-block" />
                        </div>
                        <div class="panel-footer">
                            <h3 data-bind="text:aboutUs().Header"></h3>
                            <p data-bind="html: aboutUs().Content" style="color:forestgreen; font-weight:600; text-align:left;">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default my_panel z-depth-1">
                        <div class="panel-body">
                            <img data-bind="attr: {src: mission().ImageUrl}" alt="" class="iconImage center-block" />
                        </div>
                        <div class="panel-footer">
                            <h3 data-bind="text:mission().Header"></h3>
                            <p data-bind="html: mission().Content" style="color:forestgreen; font-weight:600; text-align:left;">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-3">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default my_panel z-depth-1">
                        <div class="panel-body">
                            <img data-bind="attr: {src: vision().ImageUrl}" alt="" class="iconImage center-block" />
                        </div>
                        <div class="panel-footer">
                            <h3 data-bind="text:vision().Header"></h3>
                            <p data-bind="html: vision().Content" style="color:forestgreen; font-weight:600; text-align:left;">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default my_panel z-depth-1">
                        <div class="panel-body">
                            <img src="../../images/eartht.png" alt="" class="iconImage center-block" />
                        </div>
                        <div class="panel-footer">
                            <!--<h3>Bhuvi Care</h3>-->
                            <p style="color:forestgreen; font-weight:600; text-align:left;">
                                <b>MANAGING DIRECTOR</b>
                                <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>T.G.R. KUNJHARHAMONEY    B.E (Ag), M.B.A</b>
                                <br /><br />
                                <b>DIRECTORS</b>
                                <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>G. RADHAKRISHNAN.</b>
                                <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>S. VISALAKSHI</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer data-bind="compose: { model: 'viewmodels/footer', activate: true }"></footer>