<!--<br />
<div class="container-fluid">
    <div class="col s12 m2 alert-success">
        <p class="z-depth-2">z-depth-2</p>
    </div>
</div>-->
<div id="horizontalTab">
    <ul>
        <li><a href="#tab-1">Abou Us</a></li>
        <li><a href="#tab-2">Mission</a></li>
        <li><a href="#tab-3">Vision</a></li>
        <li><a href="#tab-4">Objective</a></li>
    </ul>
    <div id="tab-1" class="z-depth-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default my_panel">
                            <div class="panel-body">
                                <img src="http://www.clker.com/cliparts/p/f/i/R/i/W/leaf-hi.png" alt="" style="width:10%;" class="img-responsive center-block" />
                            </div>
                            <div class="panel-footer">
                                <h3>The company</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, voluptas, sunt vitae mollitia iure perferendis rerum odio! Natus, cupiditate, est, quas, non perspiciatis in quo possimus eos voluptas tempore maxime.</p>
                                <a href="#">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-2">

    </div>
    <div id="tab-3">

    </div>
    <div id="tab-4">

    </div>
</div>
