<br />
<div class="container-fluid">
    <div class="row">
        <form role="form" action="" method="post">
            <div class="col-lg-6">
                <div class="btn-green" style="background-color:#92C203;">Contact Form</div>
                <br />
                <div class="form-group">
                    <label for="InputName">Your Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required="">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Your Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required="">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Message</label>
                    <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required=""></textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputReal">What is 4+3? (Simple Spam Checker)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputReal" id="InputReal" required="">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
                <input type="button" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
        <hr class="featurette-divider hidden-lg">
        <div class="col-lg-5 col-md-push-1">
            <address>
                <div class="btn-green" style="background-color:#92C203;">Get in Touch</div>
                <br />
                <ul class="footer-nav pb20">
                    <li class="footer-phone"><span class="fa fa-phone"></span> 046 22445022</li>
                    <li class="footer-phone"><span class="fa fa-fax"></span> 046 22445011</li>
                    <li class="footer-address osLight">
                        <p>Plot No C88,</p>
                        <p>SIPCOT Industrial Growth Centre,</p>
                        <p>Gangaikondan,</p>
                        <p>Tirunelveli,</p>
                        <p>TamilNadu.</p>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green">
                            <span class="fa fa-google-plus"></span>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
</div>