<main>
    <div class="rslides_container">
        <ul id="slides1" class="rslides">
            <li>
                <img src="images/bg-1.jpg" class="img-responsive myimage" alt="" />
                <ul id="demo-block">
                    <li></li>
                    <li style="padding-top:7%;">
                    </li>
                </ul>
            </li>
            <li>
                <img src="images/bg-2.jpg" class="img-responsive myimage" alt="" />
                <ul id="demo-block">
                    <li></li>
                    <li style="padding-top:7%;">
                    </li>
                </ul>
            </li>
            <li>
                <img src="images/bg-4.jpg" alt="" class="img-responsive myimage" />
                <ul id="demo-block">
                    <li></li>
                    <li style="padding-top:7%;">
                    </li>
                </ul>
            </li>
            <li>
                <img src="images/bg-6.jpg" alt="" class="img-responsive myimage" />
                <ul id="demo-block">
                    <li></li>
                    <li style="padding-top:7%;">
                    </li>
                </ul>
            </li>
            <li>
                <img src="images/bg-3.jpg" alt="" class="img-responsive myimage" />
            </li>
            <!--<li class="hidden-xs">
                <div>
                    <iframe class="embed-responsive-item" src="video.html" style="width:100%; height:387px;"></iframe>
                </div>
            </li>-->
        </ul>
    </div>
</main>
<footer data-bind="compose: { model: 'viewmodels/footer', activate: true }"></footer>