<main>
    <br />
    <div class="btn-group btn-breadcrumb">
        <a href="#welcome" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#gallery" class="btn btn-default">Media &amp; Communication</a>
        <a href="#news" class="btn btn-default">News</a>
    </div>
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-lg-12">
                <h4>News</h4>
            </div>
        </div>
    </div>
</main>
